body{
  background-color: white;

  }

h1 {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  margin: 0 auto;
  display:block;
  margin: 30px 0px 0px 0px;
}

#welcome {
  margin: 100px 100px 100px 100px;
}

img { 
  display: inline-block;
  float:right;
}

#Start {
  width: 100px;
  height: 30px;
  background-color: white;
  border: solid 3px black;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  margin: 15px 0px 0px 0px;
  display:block;
}

#LevelOne {
  background-color: #D1D6DA;
  color: white;
  width: 100px;
  height: 100px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  border: solid black 2px;
  border-color: black;
  display: inline-block;
  float:left;
  margin: 15px;
}

#LevelTwo {
  background-color: #7E7E7E;
  color: white;
  width: 100px;
  height: 100px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  border: solid black 2px;
  border-color: black;
  display: inline-block;
  float:left;
  margin: 15px;
}

#LevelThree {
  background-color: #292626;
  color: white;
  width: 100px;
  height: 100px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  border: solid black 2px;
  border-color: black;
  display: inline-block;
  float:left;
  margin: 15px;
}

#LevelFour {
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  border: solid black 2px;
  border-color: black;
  display: inline-block;
  float:left;
  margin: 15px;
}

#LevelOne:hover {
  background-color: #FFC20D;
  color: white;
}

#LevelTwo:hover {
  background-color: #0670D0;
  color: white;
}

#LevelThree:hover {
  background-color: #E13D57;
  color: white;
}

#LevelFour:hover {
  background-color: #80D43A;
  color: white;
}

section  {
  padding: 100px;

}

#game  {
  width: 500px;
  height: 100px;
  border: solid 3px black;
  margin: 0 auto;
  text-align: center;
}

.box {
  font-family: 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  padding: 30px;
  text-align: center;
  margin: 25px; 
}

.button {
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: white;
  border: solid 3px black;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  display: inline-block;
  float:left;
  margin: 15px;

}

div #buttons{ 
  display: inline-block;
}

#score {
  border:solid black;
  font-family: 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
}



