body{
  background-color: white;

  }

h1 {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  margin: 0 auto;
  display:block;
  margin: 30px 0px 0px 0px;
}

#welcome {
  margin: 100px 100px 100px 100px;
}

img { 
  position: relative;
  display: inline-block;
  float:right;
}

#Start {
  width: 100px;
  height: 30px;
  background-color: white;
  border: solid 3px black;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  margin: 15px 0px 0px 0px;
  display:block;
}

#levelSelector {
 
}

section  {
  padding: 100px;

}
section #game  {
  padding: 20px;
  width: 100px;
  height: 100px;
  border: solid 3px black;
}

.box {
  font-family: 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  border: solid 3px black;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  padding: 30px;
  width: 200px;
  height: 75px;
  text-align: center;
  margin: 0 auto;
  display:block;
}

.button {
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: white;
  border: solid 3px black;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.buttons{
  display: block;
  margin: 0px;
}

div #buttons{
  margin: 0 auto;
  display: inline-block;
  width: 250px;
}



