body{
  background-color: white;

  }

h1 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    margin: 0 auto;
    display:block;
    margin: 30px 0px 0px 0px;
}

#welcome {

  margin: 100px 100px 100px 100px;
}
img {
  
  position: relative;
  float: right;
  display: block;
}

#Start {
  width: 100px;
  height: 30px;
  background-color: white;
  border: solid 5px black;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  margin: 15px 0px 0px 0px;
  display:block;

}

section {
  padding: 100px;

}
section #game {
  border: solid Snow 2px;
  border-radius: 10px;
  margin: 0 auto;
  width: 500px;
  height: 350px;
  background-color: PeachPuff;
}

.box {
  list-style-type: none;
  border: solid black 2px;
  padding: 40px;
  width: 100px;
  height: 15px;
  text-align: center;
  color: ;
}

.buttons {

}


div {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 90px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#game {
  border: solid black 5px;
}
